.banner-bg {
    background: url("https://i.ibb.co/RCMzZDz/ayesha-firdaus-c3es-Wyv-W3-E4-unsplash.jpg"), rgba(0, 0, 0, 0.7);
    background-blend-mode: overlay;
    background-size: cover;
    background-repeat: no-repeat;

}